<script setup lang="ts">
import type { Entry } from '~/model/entry'
import { useEntryStore } from '~/stores/entryStore'

const store = useEntryStore()
const inputModel = ref()

const submit = () => {
  if (inputModel.value) {
    const item = inputModel.value
    // console.log('push item', item)
    store.addEntry(item)
    inputModel.value = ''
  }
}

const increase = (entry: Entry, amount: number) => {
  if (entry.time + amount <= 600) {
    entry.time = entry.time + amount
  }
}

const removeEntry = (entryName: string) => {
  store.removeEntry(entryName)
}

const { t } = useI18n()
</script>

<template>
  <div w="4xl" m="auto">
    <div v-for="(entry, index) in store.entries" :key="index" flex="~ row" py-2 h-12>
      <div flex="0" w="80" text="right">
        {{ entry.name }}
      </div>
      <div flex="1" w="64" text="center">
        {{ entry.time }} {{ t('entry.minutes') }} = {{ 1.0* entry.time / 60 }} {{ t('entry.hours') }}
      </div>
      <div flex="0" w="76" text="center">
        <button btn w="62.5px" mx-1 @click="increase(entry, 15)">
          +15
        </button>
        <button btn w="62.5px" mx-1 @click="increase(entry, 30)">
          +30
        </button>
        <button btn w="62.5px" mx-1 @click="increase(entry, 60)">
          +60
        </button>
        <button btn color="orange" w="62.5px" mx-1 @click="removeEntry(entry.name)">
          X
        </button>
      </div>
    </div>

    <hr mx-4 my-8>

    <input
      id="input"
      v-model="inputModel"
      :placeholder="t('input.placeholder')"
      :aria-label="t('input.placeholder')"
      type="text"
      autocomplete="false"
      p="x4 y2"
      w="80%"
      maxlength="20"
      text="center"
      bg="transparent"
      border="~ rounded gray-200 dark:gray-700"
      outline="none active:none"
      @keydown.enter="submit"
    >
    <label class="hidden" for="input">{{ t('input.placeholder') }}</label>

    <div>
      <button
        btn m-3 text-sm
        :disabled="!inputModel"
        @click="submit"
      >
        {{ t('button.submit') }}
      </button>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: home
</route>
