<script setup lang="ts">

import { useEntryStore } from '~/stores/entryStore'

const store = useEntryStore()

</script>
<template>
  <main class="px-8 py-10 min-w-4xl text-center text-gray-700 dark:text-gray-200">
    <div text-4xl>
      <div i-carbon-alarm inline-block />
    </div>
    <div text-4xl>
      Timez @ {{ store.date }}
    </div>

    <div py-4 />
    <router-view />
    <Footer />
  </main>
</template>
